@import 'vars.less';


html {
	font-size: 15px;
}

body {
	margin: 0;
	font-family: @mont;
	font-size: 1rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.container {
	width: 100%;
	width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

@import 'blocks/header.less';
@import 'blocks/intro.less';
@import 'blocks/nav.less';
@import 'blocks/social.less';
@import 'blocks/button.less';
@import 'blocks/works.less';
@import 'blocks/about_me.less';